:root {
  --primary: #121212;
  --text-primary: #FFFFFF;
  --primary-accent: #1F2937;
  --text-secondary: #A1A1AA;
  --button-background: #0D7377;
  --highlights: #4F46E5;
  --temp: #FACC15;

}

* {
  margin: 0;
  padding: 0;
  font-family: "Patrick Hand", serif;
}

html {
  color-scheme: dark-light;
}

body {
  min-height: 100vh;
  /* background-color: var(--primary); */
  background-color: var(--primary-accent);
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 2rem;
}

input,
button {
  font: inherit;
}

input {
  padding: 3px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 2px;
}

button:hover {
  color: var(--highlights);
}

section {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-primary);
  background-color: var(--primary-accent);
  padding: 30px;
  border-radius: 5px;
  height: 90%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}

.display {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

/* p {
  color: var(--text-secondary);
} */

#temp {
  font-size: 1.5rem;
  color: var(--temp);
}

.para {
  background-color: var(--text-primary);
  color: var(--primary);
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
}